@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);   
    color: var(--text);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.sec-title {
	text-align: center;
	color: var(--primary);
	text-transform: uppercase;
	padding-bottom: 40px;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ol{
    padding: 0;
}

img{
    max-width: 100%;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: all .4s;
}

.btn{
    padding: 10px 25px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
}

.btn-primary{
    background: var(--primary);
    color: var(--white);
}