.offer-back{
    small {
            color: var(--primary);
            text-decoration: underline;
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
            transition: all .4s;
            &:hover{
                color: black;
            }
        }
}

.offer-back {
    display: none;
    text-align: left;
}



.offer-item {
    .o-image {
        max-width: 600px;
        padding-top: 20px;
        width: 100%;
    }
}

.offer-content{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
}

.offer-effect {
	width: 300px;
	position: absolute;
	left: -39px;
	top: 0;
	z-index: -1;
}